.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}
.root:hover {
  opacity: 0.7;
  cursor: pointer;
}

.name {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.7;
}

.dropdown {
  display: none;
  position: fixed;
  top: 40px;
  right: 10px;
  min-width: 100px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  z-index: 1;
}

.root:hover .dropdown {
  display: block;
}
